* {
  margin: 0;
  padding: 0; /* Reset `padding` and `margin` of all elements */
  font-style: normal;
  font-weight: 400;
  font-family: 'Open Sans', 'Hiragino Sans', 'ヒラギノ角ゴシック', 'ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro',
  Meiryo, 'メイリオ', YuGothic, '游ゴシック体', 'Yu Gothic', '游ゴシック', Arial, Helvetica, Verdana, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
}

h2 {
  font-weight: 700;
  font-size: 3rem;
}

h3 {
  font-weight: 700;
  font-size: 1.6rem;
}

h4 {
  font-weight: 700;
  font-size: 1.4rem;
}

h5 {
  font-weight: 700;
  font-size: 1.2rem;
}

h6 {
  font-weight: 700;
  font-size: 1rem;
}

label {
  cursor: pointer;
}

ol, ul {
  list-style: none;
}

:root {
  --color-dark-gray: #97999b;
  --color-light-gray: #ececea;
  --color-primary: #559912;
  --color-secondary: #2a872a;
  --color-white: #ffffff;
}

.color-white {
  color: #ffffff !important;
}

.color-light {
  color: #9e9e9e !important;
}

.color-light a:hover {
  text-decoration: underline solid #9e9e9e;
}

.color-gray {
  color: #7a7a7a !important;
}

.color-gray a:hover {
  text-decoration: underline solid #7a7a7a;
}

.color-dark {
  color: #53565a !important;
}

.color-dark a:hover {
  text-decoration: underline solid #53565a;
}

.color-black {
  color: #444444 !important;
}

.color-black a:hover {
  text-decoration: underline solid #444444;
}

.color-red {
  color: #ff461e !important;
}

.color-red a:hover {
  text-decoration: underline solid #ff461e;
}

.color-green {
  color: var(--color-primary);
}

.color-green a:hover {
  text-decoration: underline solid var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-secondary a:hover {
  text-decoration: underline solid var(--color-secondary);
}

.background-color-green {
  background-color: var(--color-primary);
}

.background-color-green:hover {
  background: var(--color-primary);
  text-decoration: none;
}

.font-size-xs {
  font-size: 1rem;
}

.font-size-s {
  font-size: 1.2rem;
}

.font-size-m {
  font-size: 1.4rem;
}

.font-size-l {
  font-size: 1.6rem;
}

.font-size-2l {
  font-size: 1.8rem;
}

.font-size-3l {
  font-size: 2rem;
}

.font-size-4l {
  font-size: 2.2rem;
}

.font-bold {
  font-weight: 700;
}
