.container {
  display: grid;
  grid-template: '... ...... ...... ...... ...' 20px
  '...... header header header ......' auto
  '...... ...... ...... ...... ......' 20px
  'nav    nav    nav    nav    nav   ' auto
  'img    img    img    img    img   ' auto
  '...... ...... ...... ...... ......' 80px
  'main   main   main   main   main  ' 1fr
  '...... ...... ...... ...... ......' 50px
  'footer footer footer footer footer' auto
  / 1fr minmax(1050px, 1fr) 30px 200px 1fr;
}

.header {
  display: flex;
  grid-area: header;
  justify-content: space-between;
  align-items: center;
}

.header > div {
  display: flex;
  gap: 12px;
}

.header > div > a {
  display: flex;
  align-items: center;
}

.header > div > a::before {
  width: 18px;
  height: 18px;
  background: url('../images/arrow_right_black_18dp.svg');
  content: '';
}

.nav {
  grid-area: nav;
  background: linear-gradient(0deg, #7ab21f 0%, #559912 100%);
}

.nav > ul {
  display: flex;
  justify-content: space-around;
}

.nav > ul > li {
  width: 100%;
}

.nav > ul > li:not(:last-child) {
  border-right: 1px solid #ffffff;
}

.nav > ul > li > a {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  text-decoration: none;
}

.nav > ul > li > a:hover {
  background-color: #60930e;
}

.nav > ul > li > .nav-hm::before {
  width: 24px;
  height: 24px;
  background: url('../images/home_white_24dp.svg');
  content: '';
}

.nav > ul > li > .nav-cp::before {
  width: 24px;
  height: 24px;
  background: url('../images/work_white_24dp.svg');
  content: '';
}

.nav > ul > li > .nav-bs::before {
  width: 24px;
  height: 24px;
  background: url('../images/business_white_24dp.svg');
  content: '';
}

.nav > ul > li > .nav-rq::before {
  width: 24px;
  height: 24px;
  background: url('../images/face_white_24dp.svg');
  content: '';
}

.nav > ul > li > .nav-ac::before {
  width: 24px;
  height: 24px;
  background: url('../images/pin_drop_white_24dp.svg');
  content: '';
}

.nav > ul > li > .nav-ct::before {
  width: 24px;
  height: 24px;
  background: url('../images/contact_support_white_24dp.svg');
  content: '';
}

.img {
  grid-area: img;
  position: relative;
}

.img > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
}

.img > div > p:nth-of-type(1) {
  font-size: 6rem;
}

.img > div > p:nth-of-type(2) {
  font-size: 2.5rem;
}

.slick-img {
  height: 350px;
  object-fit: cover;
}

.main {
  display: flex;
  flex-direction: column;
  grid-area: main;
  gap: 30px;
}

.main > section > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 120px;
  border-bottom: 1px solid var(--color-primary);
}

.main > section > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px 120px;
}

.main > section > div:nth-of-type(3) {
  position: relative;
}

.main > section > div:nth-of-type(3) > div {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.main > section > div:nth-of-type(3) > div > div {
  display: flex;
  gap: 10px;
}

.main > section > div:nth-of-type(3) > div > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 170px;
  border-radius: 10px;
  background-color: rgb(255 255 255 / 50%);
}

.main > section > div:nth-of-type(3) > div > div > div > img {
  width: 140px;
  height: 105px;
  object-fit: scale-down;
}

.main > section > div:nth-of-type(3) > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 540px;
  height: 80px;
  border: 2px solid var(--color-secondary);
  border-radius: 10px;
  background: var(--color-white);
}

.main > section > div:nth-of-type(3) > a:hover {
  text-decoration: none;
}

.main > section > img {
  border-radius: 10px;
  object-fit: cover;
}

.aside {
  grid-area: aside;
  height: 100%;
}

.aside > ul {
  position: sticky;
  top: 30px;
}

.aside > ul > li > .active {
  background: #559912;
}

.footer {
  grid-area: footer;
}

.footer > .sitemap-wrapper {
  background: var(--color-light-gray);
}

.footer > .sitemap-wrapper > .sitemap {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
  padding: 20px 0;
}

.footer > .sitemap-wrapper > .sitemap > div {
  display: flex;
}

.footer > .sitemap-wrapper > .sitemap > div > h4 {
  padding-right: 20px;
}

.footer > .sitemap-wrapper > .sitemap > div > div > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  border-left: 1px solid #c5c5c5;
}

.footer > .copyright {
  padding: 20px 0;
  background: var(--color-dark-gray);
  text-align: center;
}
