<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <title>株式会社XXX</title>
    <meta name="description" content />

    <meta property="og:type" content />
    <meta property="og:title" content />
    <meta property="og:description" content />
    <meta property="og:url" content />
    <meta property="og:image" content />

    <link rel="apple-touch-icon" href="../images/icon.png" />
    <link rel="icon" href="../images/favicon.ico" />
    <link rel="icon" href="../images/favicon.svg" type="image/svg+xml" />

    <link rel="stylesheet" type="text/css" href="../css/destyle.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../css/global.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/index2.min.css" />
  </head>
  <body class="container">
    <header id="header" class="header">
      <a>
        <img src="../images/logo.png" width="300" />
      </a>
      <div>
        <a class="color-gray font-size-m" href="#">企業情報</a>
        <a class="color-gray font-size-m" href="#">採用情報</a>
        <a class="color-gray font-size-m" href="#">問い合わせ</a>
      </div>
    </header>
    <nav class="nav">
      <ul>
        <li>
          <a class="nav-hm" href="#">
            <div>
              <p class="color-white font-size-m font-bold">ホーム</p>
              <p class="color-dark font-size-xs">HOME</p>
            </div>
          </a>
        </li>
        <li>
          <a class="nav-cp color-white font-size-m font-bold" href="#">
            <div>
              <p class="color-white font-size-m font-bold">企業情報</p>
              <p class="color-dark font-size-xs">Company</p>
            </div>
          </a>
        </li>
        <li>
          <a class="nav-bs color-white font-size-m font-bold" href="#">
            <div>
              <p class="color-white font-size-m font-bold">事業内容</p>
              <p class="color-dark font-size-xs">Business</p>
            </div>
          </a>
        </li>
        <li>
          <a class="nav-rq color-white font-size-m font-bold" href="#">
            <div>
              <p class="color-white font-size-m font-bold">採用情報</p>
              <p class="color-dark font-size-xs">Recruitment</p>
            </div>
          </a>
        </li>
        <li>
          <a class="nav-ac color-white font-size-m font-bold" href="#">
            <div>
              <p class="color-white font-size-m font-bold">アクセス</p>
              <p class="color-dark font-size-xs">Access</p>
            </div>
          </a>
        </li>
        <li>
          <a class="nav-ct color-white font-size-m font-bold" href="#">
            <div>
              <p class="color-white font-size-m font-bold">問い合わせ</p>
              <p class="color-dark font-size-xs">Contact</p>
            </div>
          </a>
        </li>
      </ul>
    </nav>
    <div class="slick">
      <ul id="slick">
        <li>
          <img class="slick-image" src="../images/img_slide01.jpg" width="100%" />
        </li>
        <li>
          <img class="slick-image" src="../images/img_slide02.jpg" width="100%" />
        </li>
        <li>
          <img class="slick-image" src="../images/img_slide03.jpg" width="100%" />
        </li>
        <li>
          <img class="slick-image" src="../images/img_slide04.jpg" width="100%" />
        </li>
        <li>
          <img class="slick-image" src="../images/img_slide06.jpg" width="100%" />
        </li>
      </ul>
      <div>
        <p class="slick-title-en color-white font-bold">Be Reliable.</p>
        <p class="slick-title-jp color-white font-bold">すべては信頼からはじまる</p>
      </div>
    </div>
    <main class="main">
      <article class="article">
        <section id="business">
          <div class="section-title-wrapper">
            <h1 class="color-secondary">BUSINESS</h1>
            <p class="color-dark font-size-4l">事業内容</p>
          </div>
          <div class="section-description-wrapper">
            <p class="color-dark font-size-m">
              XXXは、ソフトウェアの開発、システム基盤構築、システム運用 / 保守 /
              サポートを通じてクライアントをサポートするIT企業です。
            </p>
            <p class="color-dark font-size-m">
              「信頼」という言葉を胸に、高い技術力で最適なソリューションを提供しています。
            </p>
          </div>
          <div class="section-image-wrapper">
            <img class="business-image" src="../images/img_slide03.jpg" />
            <a class="section-image-link color-secondary font-size-4l" href="#">
              <span>詳しく見る</span>
            </a>
          </div>
        </section>
        <section id="recruitment">
          <div class="section-title-wrapper">
            <h1 class="color-secondary">RECRUITMENT</h1>
            <p class="color-dark font-size-4l">採用情報</p>
          </div>
          <div class="section-description-wrapper">
            <p class="color-dark font-size-m">共に高め合い、成長し続ける人を待っています。</p>
          </div>
          <div class="section-image-wrapper">
            <img class="business-image" src="../images/bg_recruit.jpg" />
            <a class="section-image-link color-secondary font-size-4l" href="#">
              <span>詳しく見る</span>
            </a>
          </div>
        </section>
        <section id="access">
          <div class="section-title-wrapper">
            <h1 class="color-secondary">ACCESS</h1>
            <p class="color-dark font-size-4l">アクセス</p>
          </div>
          <div class="section-description-wrapper">
            <p class="color-dark font-size-m">東京都渋谷区渋谷2-20-12 渋谷日永ビル6F</p>
            <p class="color-dark font-size-m">JRほか各線・渋谷駅 宮益坂口より徒歩5分</p>
            <a
              class="color-secondary font-size-m"
              href="https://www.google.co.jp/maps/place/%E3%80%92150-0002+%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%8B%E8%B0%B7%E5%8C%BA%E6%B8%8B%E8%B0%B7%EF%BC%92%E4%B8%81%E7%9B%AE%EF%BC%92%EF%BC%90%E2%88%92%EF%BC%91%EF%BC%92/@35.6594526,139.7010176,17z/data=!3m1!4b1!4m2!3m1!1s0x60188b584326cd2b:0xcbea7fbefd1d9ce"
              target="_blank"
              >Google Map</a
            >
          </div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.7125728269743!2d139.70101761525822!3d35.65945258019941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b584326cd2b%3A0xcbea7fbefd1d9ce!2z44CSMTUwLTAwMDIg5p2x5Lqs6YO95riL6LC35Yy65riL6LC377yS5LiB55uu77yS77yQ4oiS77yR77yS!5e0!3m2!1sja!2sjp!4v1542866504319"
            width="100%"
            height="600"
            frameborder="0"
            style="border: 0"
            allowfullscreen
          ></iframe>
        </section>
      </article>
      <div class="return-top font-size-4l">
        <a class="color-secondary" href="#header">TOP</a>
      </div>
    </main>
    <footer class="footer">
      <div class="sitemap-wrapper">
        <div class="sitemap">
          <div>
            <h4 class="color-gray">企業情報</h4>
            <div>
              <ul>
                <li>
                  <a class="color-gray font-size-m" href="#">会社概要</a>
                </li>
                <li>
                  <a class="color-gray font-size-m" href="#">社長メッセージ</a>
                </li>
                <li>
                  <a class="color-gray font-size-m" href="#">アクセス</a>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <h4 class="color-gray">事業内容</h4>
            <div>
              <ul>
                <li>
                  <a class="color-gray font-size-m" href="#">ソフトウェア開発</a>
                </li>
                <li>
                  <a class="color-gray font-size-m" href="#">システム基盤構築</a>
                </li>
                <li>
                  <a class="color-gray font-size-m" href="#">システム運用保守</a>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <h4 class="color-gray">採用情報</h4>
            <div>
              <ul>
                <li>
                  <a class="color-gray font-size-m" href="#">採用ポリシー</a>
                </li>
                <li>
                  <a class="color-gray font-size-m" href="#">働く環境と支援制度</a>
                </li>
                <li>
                  <a class="color-gray font-size-m" href="#">社員の声</a>
                </li>
                <li>
                  <a class="color-gray font-size-m" href="#">新卒採用</a>
                </li>
                <li>
                  <a class="color-gray font-size-m" href="#">キャリア採用</a>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <h4 class="color-gray">その他</h4>
            <div>
              <ul>
                <li>
                  <a class="color-gray font-size-m" href="#">問い合わせ</a>
                </li>
                <li>
                  <a class="color-gray font-size-m" href="#">プライバシーポリシー</a>
                </li>
                <li>
                  <a class="color-gray font-size-m" href="#">労働派遣法に基づく情報提供</a>
                </li>
                <li>
                  <a class="color-gray font-size-m" href="#">環境方針</a>
                </li>
                <li>
                  <a class="color-gray font-size-m" href="#">サイトマップ</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p class="color-white font-size-m">Copyright(C) 2022 xxx-ltd. All rights reserved.</p>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../js/index2.min.js"></script>
  </body>
</html>
